
html,
body,
header,
#intro {
    height: 80vh;
}

#intro {
    background: url("../media/pexels-photo-270623.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.mywelcome {
border-radius: 18px;
}

.mytag {
border-radius: 2px;
}

.fill {
    min-height: 100%;
}
