{% extends "layout.html" %}
{% from "macros.html" import blogpost, paginate %}
{% block main %}

<div class="container pt-5 text-white fill">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h2 class="my-4 text-center">Blog
          </h2>

          <!-- Blog Post -->
                         <hr class="my-3 orange">
     {% for post in posts.items %}
               {{ blogpost(post) }}
               {% endfor %}
<!--Pagination-->
          {{ paginate(posts, paginate_url) }}
          <!-- Pagination -->


        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 mt-5">

          <!-- Categories Widget -->
          <div class="card my-4 elegant-color-dark text-white">
            <h5 class="card-header">Tagi</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                      {% for tag in tags1 %}
                    <li>
                      <a href="search?query={{ tag.name }}">{{ tag.name }}</a>
                    </li>
                      {% endfor %}
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    {% for tag in tags2 %}
                    <li>
                      <a href="search?query={{ tag.name }}">{{ tag.name }}</a>
                    </li>
                      {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}