{% extends "layout.html" %}
{% from "macros.html" import portfoliopost %}
{% block main %}

<main class="text-white mt-4 pt-3" xmlns="http://www.w3.org/1999/html">
         <div id="intro" class="view mb-5">
            <div class="full-bg-img d-flex align-items-center justify-content-center">
            	
               <div class="mywelcome p-4 my-5 verticalcenter text-center rgba-black-strong">
                  <h3 class="display-3 mb-2"><strong>Witaj!</strong></h3>
                  <hr class="hr-light">
                  <h5><strong>Jestem Adam, uwielbiam programować oraz zagłębiać się w szeroko pojęty świat IT.</strong></h5>
                  <h5><strong>To mój prywatny kąt w Internecie, w którym możesz zapoznać się ze mną i moją twórczością.</strong></h5>
                  <a href="{{ url_for('blogfolio.blog') }}" class="btn orange darken-2"><strong>Przejdź do bloga</strong></a>
                 <a href="#strongpoints" class="btn orange darken-2"><strong>Dowiedz się więcej</strong></a>
               </div>
            </div>
         </div>
         <div class="container">

                {% with messages = get_flashed_messages() %}

      {% if messages %}

        <ul>
        {% for message in messages %}
               <div class="alert alert-success text-center alert-dismissible fade show">{{ message }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Zamknij">
    <span aria-hidden="true">&times;</span>
                </div>
  </button>
        {% endfor %}
        </ul>

      {% endif %}
    {% endwith %}
            <section id="strongpoints" class="text-center">
               <hr class="my-5">
               <div class="row">
                  <div class="col-md-4">
                     <img src="{{ url_for('static', filename='media/nginx-9.jpg') }}" width="200" class="img-fluid rounded-circle z-depth-1 mywelcome" alt="1">
                     <h4 class="my-4 font-weight-bold">Backend</h4>
                     <p class="text-justify">Samodzielnie tworzę rozwiązania od strony backendu, od setupu serwera wirtualnego do konfiguracji webservera. Lubie być zaangażowany w proces "od początku do końca", ale wiem, kiedy lepiej korzystać z gotowych, sprawdzonych rozwiązań.</p>
                  </div>
                  <div class="col-md-4">
                     <img src="{{ url_for('static', filename='media/Python-logo-notext.svg') }}" width="200" class="img-fluid rounded-circle z-depth-1 mywelcome" alt="1">
                     <h4 class="my-4 font-weight-bold">Python</h4>
                     <p class="text-justify">Używam Pythona tam, gdzie tylko mogę. Automatyzuje za jego pomocą powtarzalne zadania, ale potrafie też wykorzystać jego bardziej zaawansowane pakiety, jak Flask czy SQLalchemy.
                     </p>
                  </div>
                  <div class="col-md-4">
                      <img src="{{ url_for('static', filename='media/zabbix_lrg.jpg') }}" width="200" class="img-fluid rounded-circle z-depth-1 mywelcome" alt="1">
                     <h4 class="my-4 font-weight-bold">Monitoring i testy</h4>
                     <p class="text-justify">Lubie wiedzieć, że moje projekty działają sprawnie i bez błędów. Dlatego zawsze staram się, by moje aplikacje były sensownie pokryte testami, a swoje usługi monitoruje na samodzielnie utworzonym monitoringu Zabbixa.
                     </p>
                  </div>
               </div>
            </section>
            <hr class="my-5">
            <section id="gallery">
               <h2 class="mb-5 font-weight-bold text-center">Moje Projekty</h2>
     {% for post in projects %}
               {{ loop.cycle(portfoliopost(post, oddevenflag = true), portfoliopost(post, oddevenflag = false)) }}
               {% endfor %}
            <hr class="my-5">
            <section id="contact">
               <h3 class=" font-weight-bold text-center">Napisz do mnie</h3>
               <div class="row justify-content-center">
                  <div class="col-lg-5 col-md-12 white-text">
                     <form action="" method="post" name="contact" class="p-5">
                        {{ form.hidden_tag() }}
                        <div class="md-form form-sm">
                           <i class="fa fa-user prefix orange-text"></i>
                           {{ form.name(class="form-control white-text", id="form1") }}
                           <label for="form1" class="text-white">Twoje imię</label>
                        </div>
                        <div class="md-form form-sm">
                           <i class="fa fa-envelope prefix orange-text"></i>
                           {{ form.mail(class="form-control white-text", id="form2") }}
                           <label for="form2" class="text-white">Twój mail</label>
                        </div>
                        <div class="md-form form-sm">
                           <i class="fa fa-pencil prefix orange-text"></i>
                           {{ form.msg(id="form3", class="md-textarea white-text", style="height: 120px") }}
                           <label for="form3" class="text-white">Twoja wiadomość</label>
                        </div>
                        <div class="text-center">
                           <button class="btn orange darken-2">Wyślij <i class="fa fa-paper-plane-o ml-1"></i></button>
                        </div>
                     </form>
                  </div>
               </div>
            </section>
         </div>
      </main>
<div class="invisible">fjfe95yskl1SDFA113</div>
{% endblock %}