<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Orange Rabbits</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

      <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
   </head>
   <body class="mdb-color elegant-color">
      <header>
      <nav class="navbar navbar-expand-lg navbar-dark orange darken-2 fixed-top">
         <div class="container">
            <a class="navbar-brand" href="#">Orange Rabbits</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <!-- Links -->
               <ul class="nav navbar-nav ml-auto float-right">
                  <li class="nav-item active">
                     <a class="nav-link" href="#">Portfolio <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Blog</a>
                  </li>
               </ul>

            </div>
         </div>
      </nav>


      {% block main %}
      {% endblock %}

      <footer class="page-footer center-on-small-only elegant-color pt-0">
         <div class="orange darken-2">
            <div class="container">
               <div class="row py-4 d-flex">
               </div>
            </div>
         </div>
         <div class="container mt-4 mb-4 text-center text-md-left">
            <div class="row">
               <div class="col text-center">
                  <a href="https://github.com/Kehashi91" button type="button" class="btn orange darken-2">
                  <strong><i class="fa fa-github mr-3"></i>Github</strong></a>
               </div>
               <div class="col text-center">
                  <a href="https://www.linkedin.com/in/adam-kaczmarek-orabbit" button type="button" class="btn orange darken-2">
                  <strong><i class="fa fa-linkedin mr-3"></i>Linkedin</strong></a>
               </div>
               <div class="col text-center">
                  <a href="https://www.linke
                  <a href="mailto:adam.kaczmarek1991@gmail.com" button type="button" class="btn orange darken-2">
                  <strong><i class="fa fa-envelope mr-3"></i>Mail</strong></a>
               </div>
               <!--/.Fourth column-->
            </div>
         </div>
         <!--/.Footer Links-->
         <!--/.Footer Links-->
         <!--Copyright-->
         <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
               Powered by <a href="http://flask.pocoo.org/"> Flask </a> and <a href="https://mdbootstrap.com/"> MDBoostrap </a>
            </div>
         </div>
         <!--/.Copyright-->
      </footer>
      <!--/.Footer-->
      <!--Footer-->
      <!-- SCRIPTS -->
      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/mdb.min.js"></script>
   </body>
</html>

