<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Orange Rabbits</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

      <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
      <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon.ico') }}">
   </head>
   <body class="mdb-color elegant-color">
      <header>
      <nav class="navbar navbar-expand-lg navbar-dark orange darken-2 fixed-top">
         <div class="container">
            <a class="navbar-brand" href="{{ url_for('blogfolio.index') }}"><strong>Orange Rabbits</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <!-- Links -->
               <ul class="nav navbar-nav ml-auto float-right">
                          <form action="/search" class="form-inline">
            <div class="md-form mt-0">
                <input type="text" name="query" method="get" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('blogfolio.index') }}"><strong>Portfolio</strong></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('blogfolio.blog') }}"><strong>Blog</strong></a>
                  </li>
               </ul>

            </div>
         </div>
      </nav>


      {% block main %}
      {% endblock %}

      <footer class="page-footer center-on-small-only elegant-color pt-0">
         <div class="orange darken-2">
            <div class="container">
               <div class="row py-4 d-flex">
               </div>
            </div>
         </div>
         <div class="container mt-4 mb-4 text-center text-md-left">
            <div class="row">
               <div class="col text-center">
                  <a href="https://github.com/Kehashi91" type="button" class="btn orange darken-2">
                  <div class="text-nowrap"><span><strong><i class="fa fa-github mr-3"></i>Github</strong></span></div></a>
               </div>
               <div class="col text-center">
                  <a href="https://www.linkedin.com/in/adam-kaczmarek-orabbit" type="button" class="btn orange darken-2">
                  <div class="text-nowrap"><strong><i class="fa fa-linkedin mr-3"></i><span>Linkedin</span></strong></div></a>
               </div>
               <div class="col text-center">
                  <a href="mailto:adam.kaczmarek1991@gmail.com" type="button" class="btn orange darken-2">
                  <div class="text-nowrap"><strong><i class="fa fa-envelope mr-3"></i><span>Mail</span></strong></div></a>
               </div>
            </div>
         </div>
         <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
               Powered by <a href="http://flask.pocoo.org/"> Flask </a> and <a href="https://mdbootstrap.com/"> MDBoostrap </a>
            </div>
         </div>

      </footer>
                     <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
             <script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='scripts/mdb.min.js') }}"></script>
   </body>
</html>

