{% macro portfoliopost(project, oddevenflag) %}
    <div class="row mywelcome elegant-color-dark p-3 m-3">
        {% if oddevenflag %}
 <div class="col-md-6">
                   <img src="static/{{ project.image }}" class="img-fluid z-depth-1 mywelcome" alt="1">
                  </div>
        {% endif %}
                  <div class="col-md-6">
                     <div class="d-flex flex-row flex-wrap">
                         {% for tag in project.tags %}
                        <a href="search?query={{ tag.name }}"><span class="badge amber darken-2 m-2">{{ tag.name }}</span></a>
                         {% endfor %}


                                              </div>
                                               <h4 class="mb-3"><strong>{{ project.name }}</strong></h4>
                                                          <hr class="my-3 orange">
                     <p>{{ project.description|safe|truncate()  }}
                                                                 <div class="d-flex flex-row justify-content-between align-items-center">
                      <a href="/{{ project.name|replace(" ", "-") }}" class="btn btn-primary btn-md waves-effect waves-light btn-orange"><strong>Czytaj dalej</strong></a>
                                                                     <p class="m-0 p-0"><strong>Dodano: {{ project.time_added }}</strong></p>
                                                                 </div>
                  </div>
                {% if not oddevenflag %}
 <div class="col-md-6">
                   <img src="static/{{ project.image }}" class="img-fluid z-depth-1 mywelcome" alt="1">
                  </div>
        {% endif %}
               </div>
{% endmacro %}

{% macro blogpost(post) %}
    <div class="row mywelcome elegant-color-dark p-3 m-3">
                  <div class="col">
                     <h4><strong>{{ post.name }}</strong></h4>
                                           <div class="d-flex flex-row flex-wrap">
                                               {% if post.post_type == "project" %}
                                              <a href="search?query={{ post.name }}"><span class="badge green darken-2 m-2">Projekt</span></a>
                                               {% endif %}
                         {% for tag in post.tags %}
                        <a href="search?query={{ tag.name }}"><span class="badge amber darken-2 m-2">{{ tag.name }}</span></a>

                         {% endfor %}
                                           </div>

                                    <hr class="my-3 orange">
                     <p>{{ post.description|safe|truncate() }}
                     </p>
                                                                 <div class="d-flex flex-row justify-content-between align-items-center">
                      <a href="/{{ post.name|replace(" ", "-") }}" class="btn btn-primary btn-md waves-effect waves-light btn-orange"><strong>Czytaj dalej</strong></a>
                                                                     <p class="m-0 p-0"><strong>Dodano: {{ post.time_added }}</strong></p>
                                                                 </div>
                  </div>

               </div>
{% endmacro %}

{% macro paginate(pagination, paginate_url) %}

<div class="d-flex justify-content-center p-2">
    <ul class="pagination pg-amber elegant-color-dark text-white text-center">

        <!--Arrow left-->
        <li class="page-item">
            <a class="page-link {% if not pagination.has_prev %}disabled text-muted{% else %}text-white{% endif %}" href="{{ paginate_url }}page={{ pagination.prev_num }}" aria-label="Prev">
                <span aria-hidden="true">&laquo;</span>

            </a>
        </li>

  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li class="page-item"><a class="page-link text-white" href="{{ paginate_url }}page={{ page }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item active"><a class="page-link  text-white">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <span class="ellipsis text-white">…</span>
    {% endif %}
  {% endfor %}
        <li class="page-item">
            <a class="page-link {% if not pagination.has_next %}disabled text-muted{% else %}text-white{% endif %}" href="{{ paginate_url }}page={{ pagination.next_num }}" aria-label="Prev">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

{% endmacro %}