{% from "macros.html" import blogpost, paginate %}
{% extends "layout.html" %}
{% block main %}
<div class="container pt-5 text-white justify-content-md-center">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col">

          <h2 class="my-4 text-center">Blog
          </h2>

          <!-- Blog Post -->
                         <hr class="my-3 orange">



              <p>Znaleziono rekordów: {{ count }}</p>
                             {% for result in results.items %}
               {{ blogpost(result) }}
               {% endfor %}
<!--Pagination-->
          {{ paginate(results) }}
                </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
         {% endblock %}