{% from "macros.html" import blogpost, paginate %}
{% extends "layout.html" %}
{% block main %}
<div class="container pt-5 text-white justify-content-md-center fill">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col">

          <h2 class="my-4 text-center">Blog
          </h2>

          <!-- Blog Post -->
                         <hr class="my-3 orange">



            <p>Znaleziono <b>{{ count }}</b> rekordów dla wyszukiwania: <b>{{ query }}</b></p>
                             {% for result in results.items %}
               {{ blogpost(result) }}
               {% endfor %}
<!--Pagination-->
          {{ paginate(results, paginate_url) }}
                </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
         {% endblock %}